.env
.env.*
!.env.example

# Node/Bun
node_modules/
dist/
.bun/

# Logs
*.log

.DS_Store
**/.DS_Store

# Nix
result
integration-tests/result

# Vitepress
/docs/.vitepress/cache/
/docs/.vitepress/dist/